In [2]:
import pandas as pd
import urllib, json
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.mlab as mlab
from scipy.stats import norm

In [12]:
coinAcronym = "BTC"
exchange = "Binance"
tradeCurrency = "USD"
timeFrame = "30"

In [61]:
coin = 'bitcoin'
days = '5'
interval='hourly'
currency = 'usd'
url = "https://api.coingecko.com/api/v3/coins/%s/market_chart?vs_currency=%s&days=%s&interval=%s" % (coin,currency,days,interval)
data = json.loads(urllib.request.urlopen(url).read())

In [62]:
df = pd.concat([pd.DataFrame(data['prices']), pd.DataFrame(data['market_caps']), pd.DataFrame(data['total_volumes'])],axis=1)
df.columns = [x for x in range(len(df.columns))]
df = df.drop([2,4], axis=1)
df.columns = ['Time', 'Price', "Market Cap", "Total Volume"]
df['Time'] = pd.to_datetime(df['Time'].astype('int64'),unit='ms')
df

                       Time         Price    Market Cap  Total Volume
0   2020-11-11 09:02:45.380  15374.680668  2.850215e+11  2.122504e+10
1   2020-11-11 10:19:50.893  15444.652457  2.862403e+11  2.126960e+10
2   2020-11-11 11:13:56.303  15522.476391  2.877614e+11  2.146461e+10
3   2020-11-11 12:19:00.839  15542.025003  2.881542e+11  2.141572e+10
4   2020-11-11 13:14:39.837  15642.555351  2.899874e+11  2.139304e+10
..                      ...           ...           ...           ...
115 2020-11-16 04:38:20.492  16017.926084  2.972039e+11  1.847251e+10
116 2020-11-16 05:11:03.099  16043.019366  2.968723e+11  1.852102e+10
117 2020-11-16 06:11:46.940  16125.166549  2.986268e+11  1.883165e+10
118 2020-11-16 07:04:11.753  16236.637709  3.009314e+11  1.934890e+10
119 2020-11-16 08:25:20.000  16252.479637  3.013918e+11  1.968746e+10

[120 rows x 4 columns]

[1602979200000, 11365.814131026178]